<!DOCTYPE html>
<html>
  <head>
    <title>Stimulus+Turbolinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Cities
          </h1>
          <div class="tags has-addons">
            <span class="tag is-dark">Stimulus was connected times:</span>
            <span class="tag" id="stimulus-times" data-turbolinks-permanent="true">0</span>
          </div>
        </div>
      </div>
    </section>

    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
